


body{
  background-image: linear-gradient(#DFA75E, #5FDEE7, white);
}

.head-styles{
  color: black;
  font-size: 16px;
  
  /* border-bottom: 2px solid black; */
}

.sun{
  font-size: 40px;
  color: rgb(48, 220, 233)
}



.transform{
  text-transform: none !important;
}

.container-fluid{
  /* background-image:linear-gradient(#5FDEE7, white); */
  /* background-repeat:no-repeat; */
}


/* textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
} */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: darkslategrey !important;
  border-radius: 0;
  
  margin-bottom: 0 !important;

  
  
  
}

.background{
  opacity: .9;
}



 /* .description{
  white-space: pre-wrap;
} 

 .time-block{
  text-align: center;
  border-radius: 15px;
}  */


/*  .hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
 */
.past {
  background-color: grey !important;
  color: white;
}

.present {
  background-color: #ff6961 !important;
  color: white;
}

.future {
  background-color: #77dd77 !important;
  color: white;
}

/* .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
} 

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
} */

.lead{
  /* margin-top: 25px !important; */
}

.table-input{
  width: 100%;
  border-radius: 2px;
  background-color: gainsboro;
}

.table-flex{
  width: 100%;
  
}

.text-field{
  width: 100%;
  resize: none;
}

#activity-center{
  text-align: center;
}

#day{
  color: white;
}

#my{
  color: darkslategray !important;
}

h1{
  font-family: 'Cabin Sketch', cursive;
  /* text-shadow: 3px 4px darkslategray; */
}

.save{
  font-size: 34px;
  
}

.trash{
  font-size: 34px;
  
}

button{
  background: transparent;
  border: none;
}

button:hover{
  color: white;
}

th{
  font-size: 15px !important;
  color: darkslategray !important;
}

.table-wide{
  white-space: nowrap;

}

button{
  display: inline-block;
}

.notify{
  

  color: white;

  font-size: 12px;

  padding: 10px;

  background-color: #2eb82e;

  font-family: "Nunito Sans";

  border: 1px solid darkslategray;

  border-radius: 5px;

}

.clear{
  color: white;

  font-size: 13px;

  padding: 10px;

  background-color: #d92626;

  font-family: "Nunito Sans";

  border: 1px solid darkslategray;

  border-radius: 5px;
}

#toastContainer{
  position: fixed;

  top: 50px;

  right: 50px;

  
  opacity: 1;
}

.trash-can{
  font-size: 20px;
  margin-left: 3px;
}

.check{
  font-size: 14px;
}

.fade{
  animation: fade-in 5s;
}

@keyframes fade-in{
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.fade-out{
  animation: fade-out 3s;
}

@keyframes fade-out{
  from {
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}



