


body{
  background-image: linear-gradient(#DFA75E, #5FDEE7, white);
}

.head-styles{
  color: black;
  font-size: 16px;
}

.sun{
  font-size: 40px;
  color: rgb(48, 220, 233)
}


.transform{
  text-transform: none !important;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: darkslategrey !important;
  border-radius: 0;  
  margin-bottom: 0 !important;
}

.background{
  opacity: .9;
}

.past {
  background-color: grey !important;
  color: white;
}

.present {
  background-color: #ff6961 !important;
  color: white;
}

.future {
  background-color: #77dd77 !important;
  color: white;
}


.table-input{
  width: 100%;
  border-radius: 2px;
  background-color: gainsboro;
}

.table-flex{
  width: 100%;
  
}

.text-field{
  width: 100%;
  resize: none;
}

#activity-center{
  text-align: center;
}

#day{
  color: white;
}

#my{
  color: darkslategray !important;
}

h1{
  font-family: 'Cabin Sketch', cursive;
  
}

.save{
  font-size: 34px;
  
}

.trash{
  font-size: 34px;
  
}

button{
  background: transparent;
  border: none;
}

button:hover{
  color: white;
}

th{
  font-size: 15px !important;
  color: black !important;
}

.table-wide{
  white-space: nowrap;

}

button{
  display: inline-block;
}

.notify{
  color: white;
  font-size: 12px;
  padding: 10px;
  background-color: #2eb82e;
  font-family: "Nunito Sans";
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
}

.clear{
  color: white;
  font-size: 13px;
  padding: 10px;
  background-color: #d92626;
  font-family: "Nunito Sans";
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
}

#toastContainer{
  position: fixed;
  top: 50px;
  right: 50px;
  opacity: 1;
}

.trash-can{
  font-size: 20px;
  margin-left: 3px;
}

.check{
  font-size: 14px;
}

.fade{
  animation: fade-in 6s;
}

@keyframes fade-in{
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.fade-out{
  animation: fade-out 3s;
}

@keyframes fade-out{
  from {
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}



